* {
        box-sizing: border-box;
        font-family: cursive;
    }
    body {
        background-color: white;
    }

    h1 {
       margin-bottom: 15px;
    text-align: center;
    color: solid.black;
    font-size: 175%;
    }

    section {
        position: relative;
        padding: 15px;
        width: 90%;
    }

    p {
        position: relative;
        clear: right;
    }

    div {
        position: relative;
        background-color: #909090;
        border: 3px solid black;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }

    .sec1 {
        float: right;
        width: 175px;
        padding: 5px;
        margin: -3px -3px 0px;
        border: 3px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: #FFBAD5;

    }

    .sec2 {
        float: right;
        color: white;
        width: 175px;
        padding: 5px;
        margin: -3px -3px 0px;
        border: 3px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: #FF4040;

    }

    .sec3 {
        color: black;
        float: right;
        width: 175px;
        padding: 5px;
         margin: -3px -3px 0px;
        border: 3px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: #FFF89C;

    }

    .content {
        padding: 5px;
        border: none;
        background-color: #909090;
        color: black;
        margin: 3px ;
        height: 150px;
        overflow: auto;
    }

    .row {
        width: 90%;
    }

    /*Large*/
    @media (min-width: 992px) {
        .col-lg-4 {
            float: left;
            width: 33.33%;
        }
    }

    /*Medium*/
    @media (min-width: 768px) and (max-width: 991px) {
        .col-md-6 {
            float: left;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .col-md-12 {
            float: left;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*Small*/
    @media (max-width: 767px) {
        .col-sm-12 {
            float: left;
            width: 100%;
        }
    }